<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.dublinmapper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DublinMapper"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleMapsApiKey}" />
        <meta-data
            android:name="com.developer.jcdecaux.API_KEY"
            android:value="${jcDecauxApiKey}" />
        <meta-data
            android:name="com.twitter.sdk.android.CONSUMER_KEY"
            android:value="${twitterConsumerKey}"/>
        <meta-data
            android:name="com.twitter.sdk.android.CONSUMER_SECRET"
            android:value="${twitterConsumerSecret}"/>

        <activity
            android:name=".LauncherActivity"
            android:theme="@style/Theme.DublinMapper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:theme="@style/Theme.DublinMapper.Home" />

        <activity
            android:name=".livedata.LiveDataActivity"
            android:theme="@style/Theme.DublinMapper.Home" />

        <activity
            android:name=".settings.SettingsActivity"
            android:theme="@style/Theme.DublinMapper.Home" />

    </application>

</manifest>
